check_hash=yes
dht=auto
directory=/mnt/nas/torrents/files
encoding_list=UTF-8
encryption=allow_incoming,try_outgoing,require,require_RC4
port_random=yes
port_range=62001-63000
scgi_local=/tmp/rtorrent-rpc.socket
schedule=watch.directory,5,5,load.start=/mnt/nas/torrents/watch/*.torrent
session=/persist/rtorrent/session
